.Navbar{
    display: flex;
    vertical-align: middle;
    align-items: center;
    background-color: rgb(80, 80, 80);
    margin-bottom: 20px;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.6);
}

.App-logo{
    height: 30px;
    margin: 30px;
    margin-right: 50px;
}

.Title{
    color: rgb(216, 216, 216);
}